.redDot {
    height: 12px;
    width: 12px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.blueDot {
    height: 12px;
    width: 12px;
    background-color: #0000ff;
    border-radius: 50%;
    display: inline-block;
}
