body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace; font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
